body{
	margin:0;
	font-family: 'Raleway', sans-serif;
}

#site-wrapper{
	
}

#nav {
	width: 20%;
    height: 700px;
	float: left;
	color:white;
	background-color:black;
}

#search{
	background-color: #fff;
	border-radius: 3px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 10px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 90%;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.stats {
	width: 100%;
	background-color: #fff;
	color: #000;
}

#map {
    width: 80%;
    height: 700px;
	margin: auto;
	float: left;
}
	 

 /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
		#nav {
			width: 100%;
		    height: 100px;
			float: left;
			color:white;
			background-color:black;
		}

		#map {
		    width: 100%;
		    height: 700px;
			margin: auto;
			float: left;
		}	 
		
		.stats {
			overflow: scroll;
			height: 30%;
		}

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }